body {
    background-image: linear-gradient(to left, #79fcab, #bfffd8);
}

.header {
    text-align: center;
    font-size: 70px;
    color: rgb(140, 13, 151);
}

.image {
    text-align: center;
}

.axolotl {
    height: auto;
    width: 400px;
}